@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

ul {
    display: inline-block;
}

li {
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 50%;
    margin-right: 0.6em;
    padding: 0.6em;
}

a {
   color: black;
}

[class$="facebook"]:hover {
    color: #1877F2;
}

[class$="twitter"]:hover {
    color: #1DA1F2;
}

[class$="google-plus"]:hover {
    color: #DB4437;
}

[class$="linkedin"]:hover {
    color: #0A66C2;
}

[class$="instagram"]:hover {
    color: #E1306C;
}
